# IDE specific files
.idea/
.vscode/
*.iml

# Editor directories and files
.cursor/
.cursorrules/
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Build files
build/
dist/

# Environment variables
.env
.env.local
.env.*.local

# System Files
.DS_Store
Thumbs.db
