<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.time.canvas.mapper.PromptMapper">

    <resultMap id="BaseResultMap" type="com.time.canvas.domain.Prompt">
            <id property="id" column="id" />
            <result property="name" column="name" />
            <result property="content" column="content" />
            <result property="type" column="type" />
            <result property="creatorId" column="creator_id" />
            <result property="isSystem" column="is_system" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="isDelete" column="is_delete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,name,content,type,creator_id,is_system,
        create_time,update_time,is_delete
    </sql>
</mapper>
